Testando o pacote wgbapi

In [5]:
import wbgapi as wb
import pandas as pd

In [7]:
# Visualizando as economias
wb.economy.DataFrame()

,name,aggregate,longitude,latitude,region,adminregion,lendingType,incomeLevel,capitalCity
id,,,,,,,,,
ABW,Aruba,False,-70.0167,12.51670,LCN,,LNX,HIC,Oranjestad
AFE,Africa Eastern and Southern,True,NaN,NaN,,,,,
AFG,Afghanistan,False,69.1761,34.52280,SAS,SAS,IDX,LIC,Kabul
AFW,Africa Western and Central,True,NaN,NaN,,,,,
AGO,Angola,False,13.2420,-8.81155,SSF,SSA,IBD,LMC,Luanda
...,...,...,...,...,...,...,...,...,...
XKX,Kosovo,False,20.9260,42.56500,ECS,ECA,IDX,UMC,Pristina
YEM,"Yemen, Rep.",False,44.2075,15.35200,MEA,MNA,IDX,LIC,Sana'a
ZAF,South Africa,False,28.1871,-25.74600,SSF,SSA,IBD,UMC,Pretoria
ZMB,Zambia,False,28.2937,-15.39820,SSF,SSA,IDX,LIC,Lusaka
ZWE,Zimbabwe,False,31.0672,-17.83120,SSF,SSA,IDB,LMC,Harare

In [8]:
# Visualizando as sÃ©ries com o termo poverty
wb.series.info(q = 'poverty')

id                 value
-----------------  ---------------------------------------------------------------------------------------------------------------------------
SH.UHC.NOP1.CG     Increase in poverty gap at $1.90 ($ 2011 PPP) poverty line due to out-of-pocket health care expenditure (USD)
SH.UHC.NOP1.TO     Number of people pushed below the $1.90 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure
SH.UHC.NOP1.ZG     Increase in poverty gap at $1.90 ($ 2011 PPP) poverty line due to out-of-pocket health care expenditure (% of poverty line)
SH.UHC.NOP1.ZS     Proportion of population pushed below the $1.90 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure (%)
SH.UHC.NOP2.CG     Increase in poverty gap at $3.20 ($ 2011 PPP) poverty line due to out-of-pocket health care expenditure (USD)
SH.UHC.NOP2.TO     Number of people pushed below the $3.20 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure
SH.UHC.NOP2.ZG     Increase in poverty gap at $3.20 ($ 2011 PPP) poverty line due to out-of-pocket health care expenditure (% of poverty line)
SH.UHC.NOP2.ZS     Proportion of population pushed below the $3.20 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure (%)
SI.POV.DDAY        Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)
SI.POV.GAPS        Poverty gap at $1.90 a day (2011 PPP) (%)
SI.POV.LMIC        Poverty headcount ratio at $3.20 a day (2011 PPP) (% of population)
SI.POV.LMIC.GP     Poverty gap at $3.20 a day (2011 PPP) (%)
SI.POV.MDIM        Multidimensional poverty headcount ratio (% of total population)
SI.POV.MDIM.17     Multidimensional poverty headcount ratio, children (% of population ages 0-17)
SI.POV.MDIM.17.XQ  Multidimensional poverty index, children (population ages 0-17) (scale 0-1)
SI.POV.MDIM.FE     Multidimensional poverty headcount ratio, female (% of female population)
SI.POV.MDIM.HH     Multidimensional poverty headcount ratio, household (% of total households)
SI.POV.MDIM.IT     Multidimensional poverty intensity (average share of deprivations experienced by the poor)
SI.POV.MDIM.MA     Multidimensional poverty headcount ratio, male (% of male population)
SI.POV.MDIM.XQ     Multidimensional poverty index (scale 0-1)
SI.POV.NAHC        Poverty headcount ratio at national poverty lines (% of population)
SI.POV.UMIC        Poverty headcount ratio at $5.50 a day (2011 PPP) (% of population)
SI.POV.UMIC.GP     Poverty gap at $5.50 a day (2011 PPP) (%)
                   23 elements

In [9]:
# Coletando os dados
# tabela escolhida : Poverty headcount ratio at $5.50 a day (2011 PPP) (% of population)
wb.data.DataFrame('SI.POV.UMIC', time=range(2010,2015), labels=True)

,Country,YR2010,YR2011,YR2012,YR2013,YR2014
economy,,,,,,
ZWE,Zimbabwe,NaN,74.0,NaN,NaN,NaN
ZMB,Zambia,91.1,NaN,NaN,NaN,NaN
YEM,"Yemen, Rep.",NaN,NaN,NaN,NaN,81.0
PSE,West Bank and Gaza,20.0,18.7,NaN,NaN,NaN
VIR,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
CEB,Central Europe and the Baltics,NaN,NaN,NaN,NaN,NaN
CSS,Caribbean small states,NaN,NaN,NaN,NaN,NaN
ARB,Arab World,NaN,NaN,NaN,NaN,NaN
AFW,Africa Western and Central,NaN,NaN,NaN,NaN,NaN
AFE,Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN

In [10]:
# Agregando tabelas
wb.data.DataFrame(['SH.UHC.NOP2.ZS', 'SI.POV.DDAY'], 
                    economy = wb.region.members('LAC'), # AmÃ©rica Latina
                    mrnev = 1, # Valores nÃ£o vazios mais recentes ( 1 perÃ­odo)
                    timeColumns = True,
                    labels = True
                    )

,Country,SH.UHC.NOP2.ZS,SH.UHC.NOP2.ZS:T,SI.POV.DDAY,SI.POV.DDAY:T
economy,,,,,
DOM,Dominican Republic,0.161725,2018,0.8,2020
BRA,Brazil,0.550621,2017,1.7,2020
NIC,Nicaragua,5.059452,2014,3.4,2014
ECU,Ecuador,1.563403,2013,6.5,2020
COL,Colombia,0.720345,2016,10.3,2020
LCA,St. Lucia,0.416484,2016,4.6,2016
HTI,Haiti,4.079919,2013,24.5,2012
ARG,Argentina,0.866753,2004,1.6,2020
BOL,Bolivia,0.325499,2019,4.4,2020
PER,Peru,0.322480,2019,4.4,2020
SUR,Suriname,0.351117,2016,21.1,1999
MEX,Mexico,0.132973,2016,3.1,2020
PRY,Paraguay,1.797091,2014,0.8,2020
GTM,Guatemala,2.143608,2014,8.8,2014
JAM,Jamaica,1.413428,2004,1.7,2004
CRI,Costa Rica,0.294943,2018,2.1,2020
SLV,El Salvador,0.125035,2014,1.3,2019
BLZ,Belize,NaN,NaN,13.9,1999
GUY,Guyana,NaN,NaN,11.8,1998
HND,Honduras,NaN,NaN,14.8,2019

Ja tenho uma idÃ©ia de como vou extrair os dados!